<!doctype html>
<head>
  <title>
  </title>
</head>

<body>
  <div class="mainpage">

    <ul>
      <li><button onclick="toggle_valve('WWTP-VLV-001'); return false">Valve 001:</button>
        {% if lift_station["WWTP-VLV-001"] %}Open{% else %}Closed{% endif %}
      </li>
      <li><button onclick="toggle_valve('WWTP-VLV-002'); return false">Valve 002:</button>
        {% if lift_station["WWTP-VLV-002"] %}Open{% else %}Closed{% endif %}
      </li>
      <li><button onclick="toggle_valve('WWTP-VLV-003'); return false">Valve 003:</button>
        {% if lift_station["WWTP-VLV-003"] %}Open{% else %}Closed{% endif %}
      </li>
      <li><button onclick="toggle_valve('WWTP-VLV-004'); return false">Valve 004:</button>
        {% if lift_station["WWTP-VLV-004"] %}Open{% else %}Closed{% endif %}
      </li>
      <li><button onclick="toggle_valve('WWTP-VLV-005'); return false">Valve 005:</button>
        {% if lift_station["WWTP-VLV-005"] %}Open{% else %}Closed{% endif %}
      </li>
      <li><button onclick="toggle_valve('WWTP-VLV-006'); return false">Valve 006:</button>
        {% if lift_station["WWTP-VLV-006"] %}Open{% else %}Closed{% endif %}
      </li>
      <li><button onclick="update_pump('WWTP-P-001'); return false">Pump 001:</button>
        {{lift_station["WWTP-P-001"]}}
      </li>
      <li><button onclick="update_pump('WWTP-P-002'); return false">Pump 001:</button>
        {{lift_station["WWTP-P-002"]}}
      </li>
    </ul>

    <button onclick="poll(); return false;">poll</button>
  </div>
</body>


<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript">
function poll(){
  $.ajax({
    url:'/poll_new',
    type:'GET',
    success:function(){
      //put updates for elements here
    }
  });
  return false;
}

function toggle_valve(valve){
  $.ajax({
    url:'/update_valve',
    type:'POST',
    data: {"valve":  valve},
    success:function(){

      //put updates for elements here
    }
  });
  return false;
}

function update_pump(pump, value){
  $.ajax({
    url:'/update_pump',
    type:'POST',
    data: {"pump": pump,"value":  value},
    success:function(){

      //put updates for elements here
    }
  });
  return false;
}
function doPoll(){
    $.get('do_math', function(data) {
        console.log(data);  // process results here
        setTimeout(doPoll,1000);
    });
}
$(function(){
  doPoll();
})
</script>
